<body style="background-color: #f4f4f4;">
  <div class="navbar-fixed">
    <nav class="turquoise">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Darkroom</a>
        <form class="right">
          <div class="input-field">
            <input id="search" class="left" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons right">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <!-- MILESTONE 2 banner -->
  <div class="container center-align" style="margin: 40px 0;">
    <div class="card-panel teal lighten-2 white-text" style="font-size: 3rem; font-weight: bold; box-shadow: 0 4px 6px rgba(0,0,0,0.3);">
      MILESTONE 2
    </div>
  </div>

  <!-- MILESTONE 3 banner -->
  <div class="container center-align" style="margin: 40px 0;">
    <div class="card-panel deep-purple accent-3 white-text" style="font-size: 3rem; font-weight: bold; box-shadow: 0 4px 6px rgba(0,0,0,0.3);">
      MILESTONE 3
    </div>
  </div>

  <div class="container">
    <h1>Image Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>Image</span>
          <input name="image" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <hr>
    <br>

    <div class="row">
      <% images.forEach(function(image){ %>
        <div class="column">
          <a href="/image/<%= image._id %>">
            <img src="<%= image.path %>" class="responsive-img" alt="<%= image.name %>">
          </a>
        </div>
      <% }); %>  
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
